.container {
    margin: 50px auto;
    width: 60%;
    text-align: center;
    margin-top: 200px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 8px 20px;
    background-color: #ffa2a2;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #ff2323;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #dddddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}