body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#conteudo {
    text-align: center;
}

#inputCEP {
    margin: 20px;
    padding: 10px;
    width: 200px;
}

#consultarCEP {
    padding: 10px 20px;
    cursor: pointer;
}

.carregando {
    cursor: wait;
}

#resultado, #mapa {
    margin-top: 20px;
}

iframe {
    border: none;
    width: 600px;
    height: 400px;
}