body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#quiz-container {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}

#question-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.checkbox-label input {
    margin: 0;
}

.checkbox-label span {
    margin-left: 5px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    box-sizing: border-box;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: #ff0000;
    font-weight: bold;
}

.question,
.correct,
.incorrect {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: tomato;
}