body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    text-align: center;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
}