body {
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#avatarInfo {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: inline-block;
    margin-top: 220px;
    margin-bottom: 20px;
}

#avatarInfo p {
    margin: 10px 0;
    color: #333;
}

#controls {
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

