body {
    margin: 20px;
}

#filtro, button {
    margin-bottom: 10px;
}

input, button {
    padding: 10px;
    margin-right: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}