* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 200px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  font-size: 14px;
}

button {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  color: #333;
  text-align: center; 
}

#botao {
  margin-top: 10px;
}