# Arquivos e diretórios a serem ignorados

# Diretórios
Ambiente de Impressão/
Ambiente de Rede/
Configurações Locais/
Cookies/
Dados de Aplicativos/
Documents/Meus Vídeos/
Documents/Minhas Imagens/
Documents/Minhas Músicas/
Menu Iniciar/
Meus Documentos/
Modelos/
Recent/
SendTo/
AppData/
CLionProjects/
Contacts/
Downloads/
Favorites/
IdeaProjects/
Links/
Music/
PycharmProjects/
Saved Games/
Searches/
Videos/

# Arquivos
.bash_history
.cache/
.eclipse/
.gitconfig
.lesshst
.matplotlib/
.minttyrc
.p2/
.ssh.pub
.ssh/
.viminfo
.vscode/
.849C9593-D756-4E56-8D6E-42412F2A707B
"Apresenta\303\247\303\243o 1.pptx"
"Apresenta\303\247\303\243o.pptx"
"Cofre Pessoal-BOOK-6718FGQJEL.lnk"
"Cofre Pessoal.lnk"
Documento.docx
Documentos/
Imagens/
"Introdu\303\247\303\243o ao\302\240OneDrive.pdf"
desktop.ini
desktop.ini
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
